@import "_nullstyle.scss";
@import "_MyriadPro.scss";

body {
	font-family: "Myriad Pro";
}
body.lock {
	overflow: hidden;
}

.header {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	z-index: 2;
	&__body {
		display: flex;
		padding-left: 70px;
	}

	&__logo {
		flex: 0 0 270px;
		overflow: hidden;
		max-height: 60px;
		transition: all 0.4s ease 0s;
		img {
			width: 100%;
			height: 100%;
			display: block;
		}
		&:hover {
			transform: scale3d(1.1, 1.1, 1.1);
		}
	}
	&__menu {
		flex: 1 0 auto;
		margin-right: 135px;
		text-align: center;
	}
	&__list {
		display: flex;
		justify-content: center;
		li {
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__link {
		display: block;
		font-size: 22px;
		color: white;
		text-transform: uppercase;
		font-style: italic;
		letter-spacing: 1.1px;
		font-weight: bold;
		height: 60px;
		display: flex;
		align-items: center;
		position: relative;
		transition: all 0.4s ease 0s;

		&:hover {
			color: #f1ac11;
			transition: all 0.4s ease 0s;
			&:after {
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #f1ac11;
			}
		}
	}

	&__burger {
		position: relative;
		display: block;
		width: 40px;
		height: 30px;
		margin-right: 70px;
		margin-top: 9px;
		display: none;

		&:before,
		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 4px;
			background-color: #f1ac11;
			transition: all 0.4s ease 0s;
		}
		&:before {
			left: 0;
			top: 0;
		}
		&:after {
			left: 0;
			bottom: 0;
		}
		span {
			position: absolute;
			background-color: #f1ac11;
			width: 100%;
			height: 4px;
			left: 0;
			top: 14px;
			transition: all 0.4s ease 0s;
		}
	}
}

.header__menu.active {
	top: 0;
}

.main {
	&__columns {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		flex: 0 0 45%;
		height: 100vh;

		display: flex;
		justify-content: center;
		align-items: center;

		&:nth-child(1) {
			padding-right: 20%;
		}
		&:nth-child(3) {
			padding-left: 20%;
		}

		&::after {
			position: absolute;
			z-index: -1;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #000;
			opacity: 0.6;
		}
		&:nth-child(2) {
			position: absolute;
			height: 100vh;
			width: 950px;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			clip-path: polygon(calc(0% + 250px) 0, 100% 0%, calc(100% - 250px) 100%, 0% 100%);

			span {
				&::before,
				&::after {
					position: absolute;
					content: "";
					width: 300px;
					height: 100vh;
					top: 0;
					background-color: orange;
					z-index: 1;
				}
				&::before {
					left: 0;
					clip-path: polygon(0% 0, 85% 0%, 2% 100%, 0% 100%);
				}
				&::after {
					right: 0;
					clip-path: polygon(98% 0, 100% 0%, 22% 100%, 0% 118%);
				}
			}
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		img {
			object-fit: cover;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}

.card-main {
	display: flex;
	flex-direction: column;
	padding: 30px 40px 25px 40px;
	max-width: 300px;
	opacity: 0.6;
	background-color: #fff;

	transition: all 0.4s ease 0s;
	background: radial-gradient(circle at top left, transparent 15px, #fff 0) top left,
		radial-gradient(circle at top right, transparent 15px, #fff 0) top right,
		radial-gradient(circle at bottom right, transparent 15px, #fff 0) bottom right,
		radial-gradient(circle at bottom left, transparent 15px, #fff 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;

	&:hover {
		opacity: 0.8;
		transition: all 0.4s ease 0s;
		transform: translate(0px, -25%);
	}
	&__title {
		color: #2b2b2b;
		letter-spacing: 1.9px;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		text-transform: uppercase;
		padding-bottom: 30px;
	}

	&__button {
		display: flex;
		margin: 0 auto;
		width: 100px;
		height: 30px;
		background-color: #f1ac11;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		color: #2b2b2b;
		letter-spacing: 0.6px;
		font-size: 12px;
		border-radius: 4px;
		&:hover {
			box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
		}
	}
}

@media (max-width: 1390px) {
	.header__logo {
		flex: 0 0 200px;
		max-height: 50px;
		z-index: 5;
	}
	.header__menu {
		margin-left: 60px;
	}
	.header__list {
		li {
			margin-right: 20px;
		}
	}
	.header__link {
		font-size: 18px;
		height: 50px;
	}

	.card-main {
		max-width: 250px;
	}
	.card-main__title {
		font-size: 24px;
	}

	.main__item {
		&:nth-child(2) {
			width: 800px;
		}
	}
	.header__list {
		margin-left: 15px;
	}
}

@media (max-width: 1150px) {
	.header__menu {
		margin-left: 40px;
	}
	.header__link {
		font-size: 14px;
		height: 50px;
	}
	.header__logo {
		flex: 0 0 150px;
		max-height: 35px;
		margin-top: 5px;
	}
	.main__item {
		&:nth-child(2) {
			width: 700px;
		}
	}
	.header__list {
		margin-left: 75px;
	}

	.card-main {
		max-width: 200px;
		padding: 20px 20px 15px 20px;
	}
	.card-main__title {
		font-size: 18px;
		padding-bottom: 15px;
	}
	.card-main__button {
		width: 80px;
		height: 20px;
	}
}

@media (max-width: 935px) {
	.card-main {
		max-width: 160px;
	}
}

@media (max-width: 880px) {
	.header {
		top: 25px;
	}
	.header__burger {
		display: block;
		margin-right: 20px;
		z-index: 1;
	}
	.header__body {
		justify-content: space-between;
	}
	.header__menu {
		position: fixed;
		background-color: black;
		top: -100%;
		right: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: start;
		padding-top: 120px;
		margin: 0;
		transition: all 0.4s ease 0s;
		overflow: auto;
	}
	.header__list {
		flex-direction: column;
		margin-left: 0;
		li {
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
	.header__link {
		font-size: 22px;
		justify-content: center;
	}
	.header__menu.active {
		top: 0;
		transition: all 0.4s ease 0s;
		z-index: 1;
	}
	.header__burger.active {
		&:before {
			transform: rotate(225deg);
			top: 10px;
			transition: all 0.4s ease 0s;
		}
		&:after {
			transform: rotate(-225deg);
			bottom: 16px;
			transition: all 0.4s ease 0s;
		}
		span {
			transition: all 0.4s ease 0s;
			transform: scale(0);
		}
	}
	.header__body {
		padding-left: 20px;
	}
	.main__columns {
		display: block;
	}
	.main__item {
		position: relative;
		height: 33.33vh;
		align-items: flex-end;
		padding-bottom: 30px;
		&:nth-child(1) {
			padding-right: 0;
		}
		&:nth-child(3) {
			padding-left: 0;
		}
		&:nth-child(2) {
			position: relative;
			height: 33.33vh;
			width: 100%;
			clip-path: polygon(calc(0% + 0px) 0, 100% 0%, calc(100% - 0px) 100%, 0% 100%);

			span {
				display: none;
			}
		}
	}
}

@media (max-height: 640px) {
	@media (max-width: 880px) {
		.main__item {
			height: 300px;
			&:nth-child(2) {
				height: 300px;
			}
		}
	}
}

//----------//

.menu {
	padding: 80px 0 0px 0px;
	//overflow: hidden;
	&__title {
		letter-spacing: 2.1px;
		font-size: 42px;
		text-align: center;
		font-style: italic;
		color: #f1ac11;
		text-transform: uppercase;
		padding-bottom: 40px;
	}

	&__menu {
		display: flex;
		margin-right: -80px;
		overflow: hidden;
		flex-wrap: wrap;
	}

	&__item {
		flex: 0 1 50%;
		padding-right: 80px;
		padding-bottom: 40px;
	}

	&__body {
		display: flex;
	}

	&__image {
		flex: 0 0 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 25px;
		img {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__description {
		flex: 1 1 auto;
		text-transform: uppercase;
		color: 2b2b2b;
		font-size: 18px;
	}

	&__list {
		display: flex;
		flex-direction: column;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			//border-bottom: 1px dotted #C2C2C2; /* Необязателен. Здесь задается толщина, тип и цвет точек */
			position: relative;
			padding: 0;
			margin-bottom: 20px;
		}
	}
}
.black {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 0px;
		//background-color: #000;
		bottom: 10px;
		z-index: -1;
		border-bottom: 2px dotted #000;
	}
}
.grey {
	position: relative;
	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 0px;
		bottom: 2px;
		z-index: -1;
		border-bottom: 2px dotted #bcbcbc;
	}
}

/*ul.menu__list li span {
	background-color: #fff; /* Это необходимо, чтобы перекрыть точки фоном */
//margin: 0;

//	}

.vegan {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	font-style: italic;
	color: #2b2b2b;
	padding-bottom: 40px;
	span {
		margin-left: 20px;
	}
}
.hide {
	display: none;
}
.checkbox {
	display: none;
}
.checkbox-active {
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 1px solid #2b2b2b;
	border-radius: 10px;
	position: relative;
	&::before,
	&::after {
		position: absolute;
		content: "";
		height: 1px;
		background-color: #2b2b2b;
		opacity: 0;
	}
	&::before {
		width: 4px;
		top: 4px;
		left: 1px;
		transform: rotate(45deg);
	}
	&::after {
		width: 9px;
		top: 2px;
		left: 3px;
		transform: rotate(-45deg);
	}
}

.checkbox:checked + .checkbox-active::before {
	opacity: 1;
}
.checkbox:checked + .checkbox-active::after {
	opacity: 1;
}

.container {
	max-width: 930px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}
.title {
	font-family: "Myriad Pro-Reg";
	padding: 0 5px;
	background-color: #fff; /* Это необходимо, чтобы перекрыть точки фоном */
	margin: 0;
}
.price {
	padding-left: 5px;
	font-weight: bold;
	letter-spacing: 0.7px;
	display: inline-block;
	width: 45px;
	text-align: center;
	padding: 8px;

	background: radial-gradient(circle at top left, transparent 8px, #f1ac11 0) top left,
		radial-gradient(circle at top right, transparent 8px, #f1ac11 0) top right,
		radial-gradient(circle at bottom right, transparent 8px, #f1ac11 0) bottom right,
		radial-gradient(circle at bottom left, transparent 8px, #f1ac11 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}
.alergens {
	padding: 0 5px;
	font-size: 13px;
	letter-spacing: 0.65px;
	color: #bcbcbc;
	font-style: italic;
	background-color: #fff; /* Это необходимо, чтобы перекрыть точки фоном */
	margin: 0;
}

@media (max-width: 860px) {
	.menu {
		padding: 30px 0 0px 0px;
	}
	.menu__item {
		flex: 1 1 100%;
	}
}

//==========================================//
.online {
	position: relative;
	margin-bottom: 10px;
	cursor: pointer;
	&__body {
		display: flex;
		position: relative;
		margin-top: 10px;
		margin-bottom: 80px;
		box-shadow: inset 0 0 0 2px #f6f6f6;
		overflow: hidden;

		span {
			&::before,
			&::after {
				position: absolute;
				content: "";
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background-color: #fff;
				border: 2px solid #f6f6f6;
				bottom: 0;
			}
			&::before {
				left: 0;
				transform: translate(-50%, 50%);
			}
			&::after {
				right: 0;
				transform: translate(50%, 50%);
			}
		}

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: #fff;
			border: 2px solid #f6f6f6;
			top: 0;
		}
		&::before {
			left: 0;
			transform: translate(-50%, -50%);
		}
		&::after {
			right: 0;
			transform: translate(50%, -50%);
		}
	}

	&__item {
		flex: 0 0 50%;
		position: relative;
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		img {
			position: absolute;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__info {
		display: flex;
		flex-direction: column;
		padding: 30px;
	}

	&__menu {
		font-style: italic;
		font-size: 12px;
		letter-spacing: 0.6px;
		color: #f1ac11;
		text-transform: uppercase;
		padding-bottom: 20px;
	}

	&__title {
		font-style: italic;
		font-size: 24px;
		text-transform: uppercase;
		padding-bottom: 25px;
		color: #2b2b2b;
		letter-spacing: 1.2px;
	}

	&__text {
		font-style: italic;
		font-size: 14px;
		letter-spacing: 0.7px;
		color: #d4d4d4;
		padding-bottom: 25px;
	}
}
.button {
	display: block;
	font-size: 14px;
	font-style: italic;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	color: #2b2b2b;

	width: 120px;
	padding: 10px 12px;
	border-radius: 2px;
	background-color: #f1ac11;
	&:hover {
		box-shadow: 0 0 10px rgba(180, 125, 0, 1);
	}
}
.arrow {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.offer {
	position: relative;
	color: #f1ac11;
	width: 100px;
	//bottom: 60px;
	//right: -50px;
	z-index: 1;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.6px;
	font-style: italic;
	cursor: pointer;
	z-index: 5;
	&::after {
		position: absolute;
		content: "";
		width: 15px;
		height: 15px;
		left: 85px;
		top: -1px;
		background: url("../image/left-arrow.png") 40% 50% no-repeat;
	}
}

.prev-offer {
	margin-left: 100px;

	&::after {
		transform: rotate(180deg);
		left: -30px;
	}
}
.next-offer {
	margin-right: 70px;
}

.swiper-pagination {
	display: none;
	font-size: 12px;
	color: #f1ac11;
}

@media (max-width: 860px) {
	.online__body {
		flex-direction: column;
	}
	.online__item {
		flex: 1 1 100%;
		&:nth-child(2) {
			padding-top: 300px;
		}
	}
	.online__button {
		margin: 0 auto;
	}

	.next-offer {
		display: none;
	}
	.prev-offer {
		display: none;
	}
	.swiper-pagination {
		display: block;
	}
}
@media (max-width: 400px) {
	.online__item {
		&:nth-child(2) {
			padding-top: 200px;
		}
	}
}

.adress {
	position: relative;
	padding: 80px 10px;
	//margin-top: 0px;
	img {
		position: absolute;
		object-fit: cover;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&__block {
		max-width: 570px;
		margin: 0px auto;
		padding: 60px 50px;

		background: radial-gradient(circle at top left, transparent 30px, #fff 0) top left,
			radial-gradient(circle at top right, transparent 30px, #fff 0) top right,
			radial-gradient(circle at bottom right, transparent 30px, #fff 0) bottom right,
			radial-gradient(circle at bottom left, transparent 30px, #fff 0) bottom left;
		background-size: 50% 50%;
		background-repeat: no-repeat;
	}

	&__title {
		text-transform: uppercase;
		font-style: italic;
		font-size: 28px;
		letter-spacing: 1.4px;
		color: #000;
		text-align: center;
		padding-bottom: 40px;
	}

	&__body {
		display: flex;
	}

	&__item {
		flex: 1 1 50%;
		display: flex;
		align-items: center;
	}
	&__logo {
		font-size: 22px;
		letter-spacing: 1.1px;
		color: #f1ac11;
		display: flex;
		align-items: center;
		svg {
			margin-right: 10px;
		}
	}
	&__adress {
		display: flex;
		align-items: center;
		font-style: italic;
		font-size: 18px;
		letter-spacing: 0.9px;
		font-weight: bold;
		padding-left: 20px;
	}

	&__button {
		width: 150px;
		margin: 0 auto;
		margin-top: 40px;
		text-align: center;
	}
}

@media (max-width: 860px) {
	.adress {
		padding: 30px 10px;
	}
	.adress__block {
		padding: 30px 50px;
	}
	.adress__title {
		font-size: 18px;
		padding-bottom: 15px;
	}
	.adress__logo {
		font-size: 16px;
	}
	.adress__body {
		flex-wrap: wrap;
		text-align: center;
	}
	.svg {
		width: 30px;
		height: 20px;
		image {
			width: 30px;
			height: 20px;
		}
	}
	.adress__adress {
		font-size: 12px;
		padding-left: 10px;
	}

	.adress__button {
		font-size: 12px;
		margin-top: 20px;
	}
}
@media (max-width: 515px) {
	.adress__item {
		flex: 0 0 100%;
		padding-bottom: 15px;
		justify-content: center;
	}
	.adress__button {
		margin-top: 10px;
	}
}

.footer {
	padding: 80px 15px;
	position: relative;
	img {
		position: absolute;
		object-fit: cover;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
	&__body {
		display: flex;
	}

	&__item {
		flex: 0 0 50%;
	}

	&__title {
		text-transform: uppercase;
		font-style: italic;
		font-size: 22px;
		letter-spacing: 1.1px;
		color: #fff;
		padding-bottom: 30px;
	}

	&__list {
		display: block;
		text-transform: uppercase;
		font-style: italic;
		font-size: 17px;
		letter-spacing: 0.85px;
		color: #bbbbbb;
		padding: 0px 0 5px 0px;
		&:hover {
			transform: scale3d(1.1, 1.1, 1.1);
			color: #fff;
		}
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__input {
		background: rgba(255, 255, 255, 0.4);

		padding: 10px 10px;
		width: 230px;
		height: 32px;
		color: #fff;
		text-transform: uppercase;
		font-style: italic;
		&::placeholder {
			color: #fff;
		}
		&:focus::placeholder {
			opacity: 0;
		}
	}

	&__button {
		display: inline-block;
		width: 90px;
		height: 32px;
		margin-left: 40px;
	}
}

.item {
	&__body {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
		overflow: hidden;
	}

	&__item {
		padding: 0 15px;
	}
}

.newstler {
	text-align: center;
}

@media (max-width: 950px) {
	.footer {
		padding: 30px 15px;
	}
	.footer__body {
		flex-direction: column;
	}
	.footer__item {
		flex: 0 0 100%;
		padding-bottom: 30px;
	}
	.footer__list {
		padding-bottom: 15px;
	}
}

@media (max-width: 515px) {
	.item__body {
		flex-wrap: wrap;
		justify-content: space-around;
		text-align: center;
	}
	.item__item {
		padding-bottom: 20px;
	}
	.footer__form {
		flex-direction: column;
		justify-content: center;
	}

	.footer__input {
		margin-bottom: 15px;
	}
	.footer__button {
		margin-left: 0;
	}
	.footer {
		padding-bottom: 20px;
	}
}
